{% extends "shcablon.html" %}

{% block title %}
    Наши технологии
{% endblock %}

{% block content %}

        <section id="cards" class="mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100 bg-info text-dark">
                        <img src="../static/image/kofemashina-jetinno-jl30-black-767x767.jpg" class="card-img-top" alt="Card 1">
                        <div class="card-body">
                            <h5 class="card-title">Настольный кофейный аппарат Jetinno JL-30</h5>
                            <p class="card-text">обеспечивает клиентам высокий стандарт обслуживания
                                                и качества напитков. Этот автомат сочетает в себе
                                                передовые технологии и стильный, современный дизайн,
                                                что делает его незаменимым инструментом будь то офис,
                                                торговый центр или ресторан</p>
                        </div>
                    </div>
                </div>
                    <div class="col">
                    <div class="card h-100 bg-info text-dark">
                        <img src="../static/image/jetinno_jl300-767x767.jpg" class="card-img-top" alt="Card 2">
                        <div class="card-body">
                            <h5 class="card-title">Кофейный аппарат Jetinno JL-300</h5>
                            <p class="card-text">представляет собой воплощение совершенства в мире
                                                автоматизированных кофейных решений, предназначенных
                                                для современных кофекорнеров и автоматических кофеен.
                                                Это не просто устройство для приготовления кофе — это
                                                настоящий инструмент для бизнеса, который способен
                                                значительно увеличить поток клиентов и повысить
                                                прибыльность вашего предприятия.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 bg-info text-dark">
                        <img src="../static/image/jetinno_jl24_black-0-767x767.jpg" class="card-img-top" alt="Card 3">
                        <div class="card-body">
                            <h5 class="card-title">Настольный кофейный аппарат Jetinno JL-24</h5>
                            <p class="card-text">это современный, высококачественный и производительный
                                                торговый автомат европейского производства. Прост в
                                                обслуживании и удобен в использовании для любой категории
                                                клиентов. Изящный облик из стекла и стали позволяет автомату
                                                удачно вписаться даже в самый изысканный интерьер!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <strong>Настольный кофейный аппарат Jetinno JL-30</strong>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
                обеспечивая клиентам высокий стандарт обслуживания
                и качества напитков. Этот автомат сочетает в себе
                передовые технологии и стильный, современный дизайн,
                что делает его незаменимым инструментом будь то офис,
                торговый центр или ресторан
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <strong>Кофейный аппарат Jetinno JL-300</strong>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
                представляет собой воплощение совершенства в мире
                автоматизированных кофейных решений, предназначенных
                для современных кофекорнеров и автоматических кофеен.
                Это не просто устройство для приготовления кофе — это
                настоящий инструмент для бизнеса, который способен
                значительно увеличить поток клиентов и повысить
                прибыльность вашего предприятия.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <strong>Настольный кофейный аппарат Jetinno JL-24</strong>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
            это современный, высококачественный и производительный
            торговый автомат европейского производства. Прост в
            обслуживании и удобен в использовании для любой категории
            клиентов. Изящный облик из стекла и стали позволяет автомату
            удачно вписаться даже в самый изысканный интерьер!
      </div>
    </div>
  </div>
</div>
{% endblock %}

